<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration Form</h1>

    <form th:action="@{processForm}" th:object="${registrationForm}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <br>

        <label for="birthDate">Date of Birth:</label>
        <input type="date" id="birthDate" th:field="*{birthDate}" />
        <br>

        <label>Gender:</label>
        <div th:each="gender : ${genders}">
            <input type="radio" th:field="*{gender}" th:value="${gender}" />
            <span th:text="${gender}"></span>
        </div>
        <br>

        <label for="country">Country:</label>
        <select id="country" th:field="*{country}">
            <option value="" disabled selected>Select a country</option>
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
        <br>

        <label>Hobbies:</label>
        <div th:each="hobby : ${hobbiesList}">
            <input type="checkbox" th:field="*{hobbies}" th:value="${hobby}" />
            <span th:text="${hobby}"></span>
        </div>
        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
    <a class="about-link" th:href="@{/login/about}">About us</a>
</body>
</html>
